.sidebar-container {
    padding: 15px;

    .filters-wrapper {
        padding: 0px 15px;
        .filter-section {
            margin-bottom: 20px;
            p {
                font-weight: bold;
                padding: 5px 0px;
            }
            .separator {
                width: 75%;
                height: 2px;
                display: block;
                margin: 0px auto;
                background-color: var(--deep-grey);
            }
            div {
                button {
                    margin: 10px 15px;
                }
            }
            .display-grid {
                overflow: auto;
                button {
                    width: calc(50% - 30px);
                    float: left;
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .sidebar-container {
        .filters-wrapper {
            .filter-section {
                .display-grid {
                    button {
                        width: calc(50% - 10px);
                        float: left;
                        margin: 10px 5px;
                    }
                }
            }
        }
    }
}